

:root{
    /*Colors*/
  --primary-color:#C49C74;
  --text-color:#1D1D1D;
}

*,*::before,*::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{ 
    margin:0px 50px;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
