.header{
    display: flex;
    justify-content: space-evenly;
}
.home-page-bcg {
  width: 100%;
  height: 100vh;
  background-image:url("/images/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.home-page-bcg > * {
  position: relative;
  z-index: 1;
}
.header{
    display: flex;
    gap:30px;
}

.navlist{
display: flex;
justify-content: center;
justify-content: space-evenly;
list-style: none;
width: 600px;
height: 70px;
font-size: 20px;
padding-top: 30px;
margin: 0 140px;
}

li a{
text-decoration: none;
font-size: 20px;
color:#1D1D1D ;
transition: 0.3s;
}
li a:hover{
    color: var(--primary-color);
}
.app_btn{
    width: 194px;
    height: 57px;
    border-radius: 50px;
    background-color: transparent;
    border:1px solid white;
    font-size: 24px;
    color: white;
    margin-top: 15px;
    transition: 0.6s;
}
.app_btn:hover{
    border-color:var(--primary-color) ;
    color: var(--primary-color);
}
.app-icon{
font-size: 24px;
}
.main-title{
    line-height: 90px;
    max-width: 800px;
    margin-top:3%;
    font-size:95px;
    color: #FFFFFF;
}

.main-text{
    color: #FFFFFF;
    font-size: 35px;
    max-width: 480px;
    height: 140px;
}
.main-txt-group{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.txt-border{
    margin-top: 10px;
    height: 115px;
    width: 0;
    border-left: 3px solid var(--primary-color);
}

.small-text{
    margin-right: 160px;
    display: flex;
    justify-content: flex-end;
    font-weight: 100;
    font-size: 18px;
    color:#FFFFFF;
}
.logo-pic{
    margin-top: 15px;
}

